.CheckOutDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.CheckOutLoading {
    width: 90vw;
    margin: 0 auto;
}

.CheckOutLoaded {
    width: 90vw;
    margin: 4rem 0 2rem 0;
}

.CheckOutLoadedEmpty {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.CheckOutLoadedEmpty img {
    height: 200px;
    width: 200px;
}

.CheckOutLoadedEmpty h1 {
    margin-top: 2rem;
    font-size: 2.7rem;
    margin-bottom: 1.2rem;
}

.CheckOutLoadedEmpty p {
    font-size: 1.1rem;
}

.CheckOutLoadedEmpty a {
    display: block;
    margin-top: 2rem;
    text-decoration: none;
    padding: 10px 0;
    width: 200px;
    transition: all 0.3s;
}

.CheckOutLoadedContain{
    height: max-content;
}

/* Light and Dark CSS */

.LightCheckOutDiv {
    background-color: rgb(208, 208, 208);
    color: black;
}

.DarkCheckOutDiv {
    background-color: rgb(36, 36, 36);
    color: white;
}

.DarkCheckOutDiv .CheckOutLoadedEmpty a:hover {
    box-shadow: 1px 1px 1px white;
}

.LightCheckOutDiv .CheckOutLoadedEmpty a:hover {
    box-shadow: 1px 1px 2px black;
}

.DarkCheckOutDiv .CheckOutLoadedEmpty {
    color: white;
}

.LightCheckOutDiv .CheckOutLoadedEmpty {
    color: black;
}

.DarkCheckOutDiv .CheckOutLoadedEmpty a {
    background-color: #ffb964;
    color: black;
}

.LightCheckOutDiv .CheckOutLoadedEmpty a {
    background-color: #ff8c00;
    color: white;
}